<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="leadstyle.css">
  </head>
  <body>
    <script type="text/javascript">
    </script>
    <div class="menu-container">
      <div class="menu">
        <div class="links">
        <a class='navigation'href="/profile">Profile</a>
        <a class='navigation'href="/dashboard">Dashboard</a>
        <a class="top"href="/leaderboard">Leaderboard</a>
        </div>
        <p class="top navigation" href="#">Climate Connections</p>
        <a class="navigation"href="/sign-in">Sign In</a>
      </div>
      </div>
    <div class="flex">
      <div class="title user">
        User&ensp;
      </div>
      <div class="title score">
        Score
      </div>
    </div>
    <div class="flex">
      <div class="user">
        <%= topTen[0].name %>
      </div>
      <div class="points">
        5263
      </div>
    </div>
    <div class="flex">
      <div class="user">
        User2
      </div>
      <div class="points">
        4876
      </div>
    </div>
    <div class="flex">
      <div class="user">
        User3
      </div>
      <div class="points">
        4598
      </div>
    </div>
    <div class="flex">
      <div class="user">
        User4
      </div>
      <div class="points">
        4398
      </div>
    </div>
    <div class="flex">
      <div class="user">
        User5
      </div>
      <div class="points">
        3921
      </div>
    </div>
    <div class="flex">
      <div class="user">
        User6
      </div>
      <div class="points">
        3572
      </div>
    </div>
    <div class="flex">
      <div class="user">
        User7
      </div>
      <div class="points">
        3254
      </div>
    </div>
    <div class="flex">
      <div class="user">
        User8
      </div>
      <div class="points">
        2876
      </div>
    </div>
    <div class="flex">
      <div class="user">
        User9
      </div>
      <div class="points">
        2465
      </div>
    </div>
    <div class="flex">
      <div class="user">
        User10
      </div>
      <div class="points">
        2019
      </div>
    </div>
  </body>
</html>
